@use "./variables.scss" as *;

@mixin reklama {
    content: "VIETA JŪSŲ REKLAMAI";
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: $red;
    font-size: 2rem;
    font-weight: bold;
    width: 40px;
    height: 750px;
    z-index: 99;
    position: absolute;
}
