@use "../../styles/variables.scss" as *;

.offcanvas-header {
	background-color: red;
	color: white;
}

.offcanvas-body {
	background-color: yellow;

	.submit-button {
		background-color: #00ff00;
		color: black;
		border: none;

		&:hover {
			background-color: #f931ce;
		}
	}

	.watermelon-basket {
		display: flex;
		justify-content: center;
		margin-top: 2rem;

		& .watermelon {
			height: 300px;
			width: auto;
			text-align: center;
			transform: rotate(10deg);
		}
	}
}
